<footer class="app-footer">
  <mat-toolbar>
    <div class="logo">
      <img
        src="../../../assets/imagens/logo-com-tagline.png"
        alt="Logo Jornada milhas do rodapé"
      />
      <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
      <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
    </div>
    <div class="socials">
      <p>Acesse nossas redes:</p>
      <div class="icons">
        <button mat-icon-button>
          <img
            src="../../../assets/icones/whatsapp.png"
            alt="Icone do WhatsApp"
          />
        </button>
        <button mat-icon-button>
          <img
            src="../../../assets/icones/instagram.png"
            alt="Icone do Instagram"
          />
        </button>
        <button mat-icon-button>
          <img
            src="../../../assets/icones/twitter.png"
            alt="Icone do Twitter"
          />
        </button>
      </div>
    </div>
  </mat-toolbar>
</footer>
